<!DOCTYPE html>
<head>
    <title>Biểu đồ Bar Chart với nhiều dataset</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="row">
        <label class="col-sm-1 col-lg-1 col-form-label">Từ ngày</label>
        <div class="col-sm-2 col-lg-2">
            <input type="text" name="tuNgay" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="dd-MM-yyyy" id="tuNgay">
        </div>
        <label class="col-sm-1 col-lg-1 col-form-label">Đến ngày</label>
        <div class="col-sm-2 col-lg-2">
            <input type="text" name="denNgay" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" placeholder="dd-MM-yyyy" id="denNgay">
        </div>
        <div class="col-md-1 mb-2 col-lg-1 d-flex justify-content-end">
            <button type="button" class="btn btn-primary" onclick="baoCaoLoiNhuan()">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
    <div style="width: 80%; margin: auto;">
        <canvas id="myBarChart"></canvas>
    </div>

   
</body>
<script src="~/jschinh/baocaoloinhuan.js"></script>