
<!doctype html>
<html lang="en">
  <head>
    <!-- Favicons -->
    <link href="~/Menu/assets/img/favicon.png" rel="icon">
    <link href="~/Menu/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link href="~/Menu/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Menu/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Menu/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Menu/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Menu/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Menu/assets/css/main.css" rel="stylesheet">




    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanLyNhaHang</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="~/css/simplebar.css">
    <!-- Fonts CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/css/feather.css">
    <link rel="stylesheet" href="~/css/select2.css">
    <link rel="stylesheet" href="~/css/dropzone.css">
    <link rel="stylesheet" href="~/css/uppy.min.css">
    <link rel="stylesheet" href="~/css/jquery.steps.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/quill.snow.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme" disabled>
    <script src="~/js/jquery-3.6.4.min.js"></script>

  </head>
<body class="vertical narrow light  ">
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="container d-flex align-items-center justify-content-between">

                <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <!-- <img src="assets/img/logo.png" alt=""> -->
                    <h1>Yummy<span>.</span></h1>
                </a>
            <div class="toast fade hide" id="toast" style="position: absolute; top: 0; right: 0;z-index: 99999;" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto">Thông báo</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body text-white mb-3" id="toastContent"></div>
            </div>
            <div class="toast toastHD bg-success" style="position: absolute; top: 0; right: 0;z-index: 99999;">
                <div class="toast-header">
                    <strong class="mr-auto">Thông báo</strong>
                    <button style="border: none !important; background: transparent;font-size: 1.5rem;" type="button" class="ml-2 mb-1 closetoast" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" style="color : #fff">
                    Hủy món thành công
                </div>
            </div>
            <div class="toast toastGM bg-success" style="position: absolute; top: 0; right: 0;z-index: 99999;">
                <div class="toast-header">
                    <strong class="mr-auto">Thông báo</strong>
                    <button style="border: none !important; background: transparent;font-size: 1.5rem;" type="button" class="ml-2 mb-1 closetoastGM" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" style="color : #fff">
                    Gọi món thành công
                </div>
            </div>
            <div class="toast toastTT bg-success" style="position: absolute; top: 0; right: 0;z-index: 99999;">
                <div class="toast-header">
                    <strong class="mr-auto">Thông báo</strong>
                    <button style="border: none !important; background: transparent;font-size: 1.5rem;" type="button" class="ml-2 mb-1 closetoastTT" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" style="color : #fff">
                    Gửi yêu cầu thanh toán thành công
                </div>
            </div>
            <div class="toast toastTTTB bg-danger" style="position: absolute; top: 0; right: 0;z-index: 99999;">
                <div class="toast-header">
                    <strong class="mr-auto" style="color : #000000">Thông báo</strong>
                    <button style="border: none !important; background: transparent;font-size: 1.5rem;" type="button" class="ml-2 mb-1 closetoastTTTB" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" style="color : #fff">
                    Chưa thể thanh toán, có món trong hóa đơn chưa được hoàn thành
                </div>
            </div>
            <div class="toast toastXNTT bg-success" style="position: absolute; top: 0; right: 0;z-index: 99999;">
                <div class="toast-header">
                    <strong class="mr-auto">Thông báo</strong>
                    <button style="border: none !important; background: transparent;font-size: 1.5rem;" type="button" class="ml-2 mb-1 closetoastXNTT" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" style="color : #fff">
                        Hóa đơn của bạn đã được xác nhận và đang được mang đến.
                </div>
            </div>
            <div class="toast toastGMTB bg-danger" style="position: absolute; top: 0; right: 0;z-index: 99999;">
                <div class="toast-header">
                    <strong class="mr-auto">Thông báo</strong>
                    <button style="border: none !important; background: transparent;font-size: 1.5rem;" type="button" class="ml-2 mb-1 closetoastGMTB" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" style="color : #fff">
                    Vui lòng thanh toán hóa đơn hiện tại để có thể tiếp tục gọi món.
                </div>
            </div>
            <div class="toast toastXNNT bg-success" style="position: absolute; top: 0; right: 0;z-index: 99999;">
                <div class="toast-header">
                    <strong class="mr-auto">Thông báo</strong>
                    <button style="border: none !important; background: transparent;font-size: 1.5rem;" type="button" class="ml-2 mb-1 closetoastXNNT" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" style="color : #fff">
                    Thanh toán thành công.
                </div>
            </div>
                <nav id="navbar" class="navbar">
                    <ul>
                        <li class="nav-item nav-notif">
                            <a class="nav-link text-muted my-2" href="/KhachHang/menu1">
                                Menu
                            </a>
                        </li>
                        <li class="nav-item nav-notif">
                            <a class="nav-link text-muted my-2" href="/KhachHang/GoiMon">
                                Gọi Món
                            </a>
                        </li>
                        <li class="nav-item nav-notif">
                            <a class="nav-link text-muted my-2" href="/KhachHang/HoaDon">
                                Hóa Đơn
                            </a>
                        </li>
                    <li class="nav-item nav-notif">
                        <a class="nav-link text-muted my-2" id ="hoTro">
                            Yêu cầu nhân viên hỗ trợ

                        </a>
                    </li>

                    </ul>
                </nav><!-- .navbar -->

                <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
                <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            </div>
        </header><!-- End Header -->

        <main role="main" class="main-content">
        <input type="hidden" id="VAITRO" value="KHACHHANG" />
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
        @RenderBody()
           
            
            </div>
            </div>
            </div>

        </main>

        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
    
    </div> <!-- .wrapper -->
    <script src="~/jschinh/common.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/jquery.stickOnScroll.js"></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>


        <!-- Vendor JS Files -->
        <script src="~/Menu/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Menu/assets/vendor/aos/aos.js"></script>
        <script src="~/Menu/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="~/Menu/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="~/Menu/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="~/Menu/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="~/Menu/assets/js/main.js"></script>
    <script>
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
    <script src="~/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
            // Get all images with class="modal-image"
            var modal = document.getElementById("myModal");
            var modalImg = modal.querySelector(".modal-content");

            // Get all images with class "modal-image"
            var images = document.querySelectorAll(".modal-image");

            // Loop through all images and add onclick event listener
            for (var i = 0; i < images.length; i++) {
                images[i].onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                }
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }


        </script>
        <script>
       $(document).ready(function () {
            $.fn.DataTable.ext.pager.numbers_length = 5;
            $("#example").dataTable({

                bLengthChange: false,
                bInfo: false,
                scrollX: true,
                language: {
                    paginate: {
                        previous: "Trước",
                        next: "Sau",
                    },
                    search: "Tìm kiếm",

                },
            });

        });
   </script>
    @RenderSection("Scripts", required: false)

  </body>
</html>