@{
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    NhanVien nv = context.NhanVien.Find(Int32.Parse(User.Identity.Name));
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuanLyNhaHang</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
   
    <link rel="stylesheet" href="~/css/simplebar.css">
    <!-- Fonts CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/tabler.min.css" rel="stylesheet" />



    <link rel="stylesheet" href="~/css/feather.css">
    @* <link rel="stylesheet" href="~/css/select2.css"> *@
    <link rel="stylesheet" href="~/css/dropzone.css">
    <link rel="stylesheet" href="~/css/uppy.min.css">
    <link rel="stylesheet" href="~/css/jquery.steps.css">
    <link rel="stylesheet" href="~/css/quill.snow.css">
    <!-- Date Range Picker CSS -->

    <!-- App CSS -->
    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme">
    <link href="~/select/css/selectize.bootstrap4.css" rel="stylesheet" />
    <link href="~/select/css/selectize.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/select/css/selectize.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme" disabled>
    <script src="~/jquery-3.6.1.min.js"></script>
    @* <script src="~/tom-select/dist/js/tom-select.base.min.js" defer></script> *@

    <script src="~/datetimepicker/moment.js/moment.min.js"></script>
    <script src="~/datetimepicker/umd/popper.min.js"></script>
    <link href="~/datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/popper.min.js"></script>

    <script src="~/select/js/selectize.js"></script>
    <script src="~/select/js/selectize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.core.min.js"></script>


    <style>
        #example_filter {
            display: flex;
            flex-direction: row-reverse;
        }

        .table thead th{
            color:black !important;
        }

        .table{
            color:black !important;
        }
      
    </style>
 

</head>
<body class="vertical  light  ">
@*     <div id="toast" style="position: absolute; top: 0; right: 0;z-index: 99999;" class="toast align-items-center text-white border-0 position-fixed top-0 end-0 p-3" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" id="toastContent">
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" onclick="hideToast()"></button>
        </div>
    </div> *@
    <div class="toast fade hide" id="toast" style="position: absolute; top: 0; right: 0;z-index: 99999;" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Thông báo</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body text-white mb-3" id="toastContent"></div>
    </div>
    <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
            <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
            <!-- nav bar -->
            <div class="w-100 mb-4 d-flex">
                <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/TrangChu/Index">
                    <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                    <g>
                    <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                    <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                    <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
                </a>
            </div>
            
            <p class="text-muted nav-heading mt-4 mb-1">
                <span>Components</span>
            </p>
            <ul class="navbar-nav flex-fill w-100 mb-2">
                
                @if (User.IsInRole("2"))
                {
                    <li class="nav-item w-100">
                        <a class="nav-link" href="/NhaBep/Index">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">Nhà Bếp</span>
                        </a>
                    </li>
                }
                 @if (User.IsInRole("1") )
                {
                    <li class="nav-item w-100">
                        <a class="nav-link" href="/PhucVu/Index">
                            <i class="fe fe-calendar fe-16"></i>
                            <span class="ml-3 item-text">Phục Vụ</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="/PhucVu/Order">
                            <i class="fe fe-credit-card fe-16"></i>
                            <span class="ml-3 item-text">Order</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("3"))
                {
                    <li class="nav-item dropdown">
                        <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-credit-card fe-16"></i>
                            <span class="ml-3 item-text">Danh mục</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="forms">
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewNTA"><span class="ml-1 item-text">Nhóm thức ăn</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/Index"><span class="ml-1 item-text"> Thực đơn</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewSanh"><span class="ml-1 item-text">Danh mục sảnh</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewKhu"><span class="ml-1 item-text">Danh mục tiểu khu</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewBan"><span class="ml-1 item-text">Danh mục bàn</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewGia"><span class="ml-1 item-text">Quản lí giá</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewCa"><span class="ml-1 item-text">Cài đặt ca làm việc</span></a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewLLV"><span class="ml-1 item-text">Cài đặt lịch làm việc</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewNNV"><span class="ml-1 item-text">Danh mục nhóm nhân viên</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewNhanVien"><span class="ml-1 item-text">Danh mục nhân viên</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewQLDanhGia"><span class="ml-1 item-text">Danh mục điểm đánh giá</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewNhomHangHoa"><span class="ml-1 item-text">Danh mục nhóm hàng hóa</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewNhaCungCap"><span class="ml-1 item-text">Danh mục nhà cung cấp</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewHangHoa"><span class="ml-1 item-text">Danh mục hàng hóa</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" href="/QuanLy/ViewDonViTinh"><span class="ml-1 item-text">Danh mục đơn vị tính</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#formsBaoCao" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-credit-card fe-16"></i>
                            <span class="ml-3 item-text">Báo cáo</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="formsBaoCao">

                    <li class="nav-item w-100">
                        <a class="nav-link" href="/QuanLy/ViewBaoCao">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">Báo cáo</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="/BaoCao/BaoCao">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">Đồ thị doanh thu</span>
                        </a>
                    </li>
                            <li class="nav-item w-100">
                                <a class="nav-link" href="/BaoCao/BaoCaoChiTieu">
                                    <i class="fe fe-layers fe-16"></i>
                                    <span class="ml-3 item-text">Báo cáo chỉ tiêu</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link" href="/QuanLy/ViewBaoCaoLoiNhuan">
                                    <i class="fe fe-layers fe-16"></i>
                                    <span class="ml-3 item-text">Báo cáo lợi nhuận</span>
                                </a>
                            </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="/BaoCao/HieuSuatNhanVien">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">Hiệu suất nhân viên</span>
                        </a>
                    </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#formxuatnhap" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-credit-card fe-16"></i>
                            <span class="ml-3 item-text">Quản lý xuất nhập</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="formxuatnhap">

                            <li class="nav-item w-100">
                                <a class="nav-link" href="/XuatKho/XuatKho">
                                    <i class="fe fe-layers fe-16"></i>
                                    <span class="ml-3 item-text">Xuất kho</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link" href="/XuatKho/XuatKhoNguyenLieu">
                                    <i class="fe fe-layers fe-16"></i>
                                    <span class="ml-3 item-text">Xuất kho nguyên liệu</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link" href="/NhapKho/NhapKho">
                                    <i class="fe fe-layers fe-16"></i>
                                    <span class="ml-3 item-text">Nhập kho</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link" href="/TonKho/TonKho">
                                    <i class="fe fe-layers fe-16"></i>
                                    <span class="ml-3 item-text">Tồn kho</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="/DinhMuc/DinhMuc">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">Định mức món ăn</span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link" href="/CanhBaoNguyenLieu/CanhBaoNguyenLieu">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">Cảnh báo nguyên liệu</span>
                        </a>
                    </li>

                }
                @if (User.IsInRole("3"))
                {
                    <li class="nav-item w-100">
                        <a class="nav-link" href="/ThuNgan/Index">
                            <i class="fe fe-layers fe-16"></i>
                            <span class="ml-3 item-text">Thu ngân</span>
                        </a>
                    </li>
                }
            </ul>
            
           
         
            <p class="text-muted nav-heading mt-4 mb-1">
                <span>Documentation</span>
            </p>
            <ul class="navbar-nav flex-fill w-100 mb-2">
                <li class="nav-item w-100">
                    <a class="nav-link" href="/Login/Logout">
                        <i class="fe fe-help-circle fe-16"></i>
                        <span class="ml-3 item-text">Đăng xuất (@nv.Ten)</span>
                    </a>
                </li>
            </ul>
          
        </nav>
    </aside>

        <main role="main" class="main-content">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
            <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
            @RenderBody()
        </main>
        <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>

</div>
    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - QuanLyNhaHang - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    @*lỗi đoạn này*@
    @* <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    *@

    @*ok*@

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
   

    <script src='~/js/jquery.dataTables.min.js'></script>
    <script src='~/js/dataTables.bootstrap4.min.js'></script>
    <script src="~/js/gauge.min.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/apexcharts.custom.js"></script>
    <script src='~/js/jquery.mask.min.js'></script>
    @* <script src='~/js/select2.min.js'></script> *@
    <script src='~/js/jquery.steps.min.js'></script>
    <script src='~/js/jquery.validate.min.js'></script>
    <script src='~/js/uppy.min.js'></script>
    <script src='~/js/quill.min.js'></script>
    <script src='~/js/jquery.stickOnScroll.js'></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/d3.min.js"></script>
    <script src="~/js/topojson.min.js"></script>
    <script src="~/js/datamaps.all.min.js"></script>
    <script src="~/js/datamaps-zoomto.js"></script>
    <script src="~/js/datamaps.custom.js"></script>
    <script src="~/js/Chart.min.js"></script>
    <script src="~/lib/jquery/jquery.inputmask.js"></script>
    <script src="~/jschinh/common.js" defer asp-append-version="true"></script>
   
    <script>
        $(document).ready(function () {
            $('.form-select').selectize({
                sortField: {
                    field: 'text',
                    direction: 'asc'
                }
            });
            $.fn.DataTable.ext.pager.numbers_length = 5;
            $("#example").dataTable({
                "scrollY": "400px",
                "scrollCollapse": true,
                bLengthChange: false,
                bInfo: false,
                scrollX: true,
                fixedHeader: true,
                language: {
                    paginate: {
                        previous: "Trước",
                        next: "Sau",
                    },
                    search: "Tìm kiếm",

                },
            });

           
            $('#toDay,#fromDay,#ngaySanXuat,#hanSuDung,#ngayNhap,#hanSuDung1,#tuNgay,#denNgay,#tuNgayCT,#denNgayCT').datetimepicker({
                locale: 'vi',
                useStrict: true,
                format: "DD-MM-yyyy",
                icons: {
                    date: "bi bi-calendar2-date",
                    up: "bi bi-chevron-up",
                    down: "bi bi-chevron-down",
                    previous: 'bi bi-chevron-left',
                    next: 'bi bi-chevron-right',
                    time: "bi bi-clock"
                }
            });
            

        });

    </script>


    <script src="~/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
   
    @RenderSection("Scripts", required: false)
</body>
</html>
