@using System.Security.Claims

@{
    DateTime now = DateTime.Now;
    DayOfWeek dayOfWeek = now.DayOfWeek;
    string dayOfWeekString = dayOfWeek.ToString();
    QuanLyNhaHangContext context = new QuanLyNhaHangContext();
    var ca = context.Ca.FirstOrDefault(x => x.Thu == dayOfWeekString && now.TimeOfDay >= x.TgbatDau && now.TimeOfDay <= x.TgketThuc &&x.Active==true).Idca;
    int idnv = int.Parse(User.FindFirstValue(ClaimTypes.Name));
    var idkhu = context.LichLamViec.FirstOrDefault(x => x.Idca == ca && x.Idnv == idnv && x.Active == true).Idkhu;

    List<Ban> listBan()
    {
        return context.Ban.Where(x => x.Active == true && x.Idkhu==idkhu).ToList();
    }
    bool count(int id)
    {
        if (context.HoaDon.Where(x => (x.TinhTrang == null || x.TinhTrang == false) &&  x.TinhTrangTt == null && x.Idban == id).ToList().Count() == 0)
        {
            return true;
        }
        return false;
    }
    bool TTBan(int id)
    {
        if (context.HoaDon.Where(x => x.TinhTrang == false && x.TinhTrangTt == null && x.Idban == id).ToList().Count() > 0)
        {
            return true;
        }
        return false;
    }
    }
<div class="d-flex align-content-around flex-wrap DivViewOrderPhucVu" style="width:100%;-webkit-justify-content: space-around;
  justify-content:space-around;">
    @foreach (Ban item in listBan())
{
    if(count(item.Idban)){
            <div class="card my-4 flex-row">
                <div class="card-header">
                    <strong>@item.TenBan</strong>
                </div>
                <div class="card-body">
                    <div>
                        
                      
                        
                        <section>
                            <a class="nav-link btn btn-primary" href="/PhucVu/MenuPV/@item.Idban" style="margin-bottom: 10px;">
                                <i class="fe fe-credit-card fe-16"></i>
                                <span class="ml-3 item-text">Order</span>
                            </a>
                            <a class="nav-link btn btn-primary" href="/PhucVu/HoaDonPV/@item.Idban">
                                <i class="fe fe-credit-card fe-16"></i>
                                <span class="ml-3 item-text">Hóa đơn</span>
                            </a>
                        </section>
                        
                    </div>
                </div> <!-- .card-body -->
               

            </div> <!-- .card -->
    }
    else{
            <div class="card my-4 flex-row  @(TTBan(item.Idban) ? "bg-warning" : "bg-info" )">
                                <div class="card-header">
                                    <strong>@item.TenBan</strong>
                                </div>
                <div class="card-body">
                                    <div>
                                       
                                       
                                        <section>
                            <a class="nav-link btn btn-primary" href="/PhucVu/MenuPV/@item.Idban" style="margin-bottom: 10px;">
                                
                                <i class="fe fe-credit-card fe-16"></i>
                                <span class="ml-3 item-text">Order</span>
                            </a>
                            <a class="nav-link btn btn-primary" href="/PhucVu/HoaDonPV/@item.Idban">
                                <i class="fe fe-credit-card fe-16"></i>
                                <span class="ml-3 item-text">Hóa đơn</span>
                            </a>
                        </section>
               
                                    </div>
                                </div> <!-- .card-body -->

                            </div> <!-- .card -->
                            }
    }
    </div>
<div class="card my-4 flex-row">
    <div class="card-header">
        <input type="hidden" id="idKhuOrderPhucVu" value="@idkhu"/>
        <strong>Thông báo</strong>
    </div>
    <div class="card-body">
        <div>
            <table>
                <thead>
                    <tr>
                    <th>Thông báo</th>
                    </tr>
                </thead>
                <tbody id="tbody-ThongBao">

                </tbody>
            </table>
        </div>
    </div> <!-- .card-body -->


</div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/chatPV.js"></script>
    